.card {
    // functionality
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 80rem;

    &__side {
        font-size: 3rem;
        height: 80rem;
        width: 100%;
        transition: all .75s ease;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }

            &-2 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);

            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // front-side styling
    &__picture {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 45rem;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-blend-mode: soft-light;
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/rpi-logo.png);
        }

        &--2 {
            background-blend-mode: screen;
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/arduino-logo.png);
        }
    }

    &__heading {
        width: 75%;
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        position: absolute;
        top: 35rem;
        right: 2rem;
        text-align: right;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .8), rgba($color-secondary-dark, .85));
        }

        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .8), rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: 2.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    //back-sdie styling
    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &__backtext {
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
        font-size: 6rem;
        font-weight: 100;
    }

    @include respond(tab-port) {
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color: $color-black, $alpha: .15);

        &__side {
            font-size: 3rem;
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        //back-sdie styling
        &__cta {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            transform: translate(0);
            padding: 4rem;
        }

        &__backtext {
            margin-bottom: 2rem;
            font-size: 6rem;
            font-weight: 100;
        }
    }
}