// if someone disabled animations on their device
// https://web.dev/prefers-reduced-motion/
// on Windows:
// Show animations in Windows: Disabled
// in Ease of Access Display Settings
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
