.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;

  @include respond(tab-land) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

main {
  min-height: calc(100vh - 50px);
}

footer {
  height: 50px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
}
