h1 {
  line-height: 1;
  @include interpolate((font-size), 600px, 1800px, 40px, 60px);
}

h2 {
  line-height: 1;
  @include interpolate((font-size), 600px, 1800px, 30px, 45px);
  @include interpolate((padding-top, padding-bottom), 600px, 1800px, 5px, 40px);
}

.heading__primary {
  // font-size: 5rem;
  font-weight: 400;
  text-align: center;

  span {
    color: var(--clr-primary);
  }
}

.heading__secondary {
  // padding: 0.5em;
  // font-size: 3.8rem;
  font-weight: 100;
  text-align: center;
}

.heading__section {
  font-size: 3.8rem;
  font-weight: 400;

  & span {
    color: var(--clr-primary);
  }
}
