@for $i from 0 through 12 {
  ///// margin /////
  .mt-#{$i} {
    margin-top: #{$i}rem !important;
  }

  .mr-#{$i} {
    margin-right: #{$i}rem !important;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}rem !important;
  }

  .ml-#{$i} {
    margin-left: #{$i}rem !important;
  }

  .mx-#{$i} {
    margin-right: #{$i}rem !important;
    margin-left: #{$i}rem !important;
  }

  .my-#{$i} {
    margin-top: #{$i}rem !important;
    margin-bottom: #{$i}rem !important;
  }

  .ma-#{$i} {
    margin: #{$i}rem !important;
  }

  ///// padding /////
  .pt-#{$i} {
    padding-top: #{$i}rem !important;
  }

  .pr-#{$i} {
    padding-right: #{$i}rem !important;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}rem !important;
  }

  .pl-#{$i} {
    padding-left: #{$i}rem !important;
  }

  .px-#{$i} {
    padding-right: #{$i}rem !important;
    padding-left: #{$i}rem !important;
  }

  .py-#{$i} {
    padding-top: #{$i}rem !important;
    padding-bottom: #{$i}rem !important;
  }

  .pa-#{$i} {
    padding: #{$i}rem !important;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.d-flex {
  display: flex;

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }
}
