.header {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4rem 10rem;

  @include respond(tab-port) {
    padding: 2rem 5rem;
  }

  &__logo {
    font-weight: 700;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 5rem;
    height: 5rem;
    filter: contrast(200%) saturate(200%) sepia(100%) invert(100%);
  }

  &__toggle-nav {
    width: 5rem;
    height: 5rem;
    background: transparent;
    cursor: pointer;

    &--icon {
      position: relative;
      margin-top: 2.5rem;
      margin-left: 1rem;

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background: #fff;
        display: inline-block;
        transition: all 0.2s;
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
      }

      &::before {
        top: -1rem;
      }

      &::after {
        top: 1rem;
      }
    }

    &:hover &--icon::before,
    &:focus &--icon::before {
      top: -1.2rem;
    }

    &:hover &--icon::after,
    &:focus &--icon::after {
      top: 1.2rem;
    }

    .page-content.active &--icon {
      background: transparent;

      &::before {
        top: 0;
        transform: rotate(45deg);
      }

      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(var(--navbar-size));
  width: var(--navbar-size);
  height: 100vh;
  background-image: linear-gradient(45deg, var(--clr-secondary), var(--clr-secondary-2));
  display: grid;
  place-items: center;
  transition: all 0.5s ease;
  z-index: 100;

  @include respond(phone) {
    transform: translateX(var(--navbar-size-small));
    width: var(--navbar-size-small);
  }

  &.active {
    transform: translateX(0);
  }

  ul {
    z-index: 101;

    li {
      list-style: none;

      a {
        color: var(--clr-text);
        text-decoration: none;
        display: inline-block;
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}
